@model Compra
@{
    ViewData["Title"] = "Incluir Compra";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="IngredienteId" class="control-label"></label>
        <input asp-for="IngredienteId" class="form-control" />
        <span asp-validation-for="IngredienteId" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="Quantidade" class="control-label"></label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="Preco" class="control-label"></label>
        <input asp-for="Preco" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
    <br/><br/>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
