@model Funcionario
@{
    ViewData["Title"] = "Incluir Funcionário";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="NomeCompleto" class="control-label"></label>
        <input asp-for="NomeCompleto" class="form-control" />
        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="Funcao" class="control-label"></label>
        <input asp-for="Funcao" class="form-control" />
        <span asp-validation-for="Funcao" class="text-danger"></span>
    </div>

    <br/><br/>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
